<h2>{{text}}</h2>
  <form ng-controller="EditUserController" name="adduser">
      <input type="hidden" name="id" value="{{_id}}" id="id" />
      <span ng-show="{{FailedtoInsert}}">Failed</span>
    <div class="form-group">
      <label for="utname">User Type Name: *</label>
      <input type="text" class="form-control" id="utname" placeholder="Enter first name." name="utname" ng-model="UserTypeName" required>
    </div>
    <div class="form-group">
      <label for="utcode">User Type Code: *</label>
      <input type="text" class="form-control" id="utcode" placeholder="Enter middle name." name="utcode" ng-model="UserTypeCode" required>
    </div>
      <div class="form-group">
        <label for="module">Modules: *</label>
        <select multiple ng-model="Modules" ng-options="module.ModuleName for module in modules">
    </select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="EditUserType()" ng-disabled="adduser.$invalid">Add</button>
  </form>