<div class="jumbotron" ng-controller="HomePageController">
    <h1>Welcome {{Customer.FirstName}}</h1>
    <p>Welcome to School CRM</p>
</div>

    <div class="col-sm-4" style="background-color:lavender;">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
